<footer class="footer">

  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><%= link_to 'About', "http://apatterson.me" %></li>
      <li><%= link_to 'Contact', "mailto:adam@apatterson.me" %></li>
      <li><%= link_to 'Code', "https://github.com/atom1262/legcay_band" %></li>
    </ul>
    <ul>
      <li><h3>Find Me On...</h3></li>
      <li><%= link_to 'Github', "http://github.com/atom1262" %></li>
      <li><%= link_to 'Twitter', "http://twitter.com/atom1262" %></li>
      <li><%= link_to 'Blog', "http://codersjourney.ghost.io" %></li>
    </ul>
    <ul>
      <li><h3>Professional</h3></li>
      <li><%= link_to 'LinkedIn', "https://linkedin.com/in/adampatterson1" %></li>
      <li><%= link_to 'AngelList', "https://angel.co/adam-patterson-1" %></li>
    </ul>
  </div>

  <hr>

  <p>This site was created by <%= link_to 'Adam Patterson', "http://apatterson.me" %>
     using Ruby on Rails, jQuery, and Sass. The code is open source and
     available on <%= link_to 'GitHub', "http://github.com/atom1262/legacy_band" %>.</p>

</footer>
