<div class="next-gig">

  <div class="gig-info">
    <h4 class="venue"><%= @gig.name %></h4>
    <h5 class="address"><%= @gig.city %>, <%= @gig.state %> <%= @gig.address %></h5>
    <h6 class="date"><%= @gig.date %></h6>
    <p class="details"><%= @gig.details %></p>
    <div class="contact">
      <h5>Booking Information</h5>
      <h6><%= link_to 'Tim Patterson', href="mailto:tim.patterson1@comcast.net" %> - 978-927-7448</h6>
      <h6>Chuck Delisle - 781-913-1395</h6>
    </div>
  </div>

  <div class="map">
    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:1"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch('API_KEY') %>
        &q=<%= @gig.name %>+<%= @gig.city %>+<%= @gig.state %>">
    </iframe>
  </div>

</div>
