<div class="header">
  <img src="/assets/Legacy_Logo.jpg">
</div>

<div class="nav-bar">
  <%= render 'partials/nav' %>
</div>

<div class="main-section">
  <div class="about section" id="about">
    <%= render 'partials/about' %>
  </div>

  <div class="main-inner">

    <div class="band section" id="band">
      <%= render 'partials/band' %>
    </div>

    <div class="music section" id="music">
      <%= render 'partials/music' %>
    </div>

    <div class="gigs section" id="gigs">
      <%= render 'partials/gig' %>
    </div>

  </div>
</div>

<div class="footer">
  <%= render 'partials/footer' %>
</div>
