<div class="logo">
  <img src="/assets/Legacy_Logo.jpg">
</div>

<div class="nav-bar">
  <%= render 'partials/nav' %>
</div>

<div class="main-section">

  <div class="welcome">
    <a name="welcome"></a>
    <%= render 'partials/welcome' %>
  </div>

  <div class="band">
    <a name="band"></a>
    <%= render 'partials/band' %>
  </div>

  <div class="music">
    <a name="music"></a>
    <%= render 'partials/music' %>
  </div>

  <div class="gigs">
    <a name="gigs"></a>
    <%= render 'partials/gig' %>
  </div>

</div>

<div class="footer">
  <%= render 'partials/footer' %>
</div>
