<div class="logo">
  <img src="/assets/Legacy_Logo.jpg">
</div>

<div class="nav">
  <%= render 'partials/nav' %>
</div>

<div class="main-section">

  <div class="welcome">
    <%= render 'partials/welcome' %>
  </div>

  <div class="band">
    <%= render 'partials/band' %>
  </div>

  <div class="music">
    <%= render 'partials/music' %>
  </div>

  <div class="gig">
    <%= render 'partials/gig' %>
  </div>

</div>

<div class="footer">
  <%= render 'partials/footer' %>
</div>
